html,
body,
#root {
  min-height: 100svh;
  margin: 0;
  display: grid;
  place-items: center;
}

.image {
  display: block;
  width: 100%;
  max-width: 400px;
  height: auto;
  border-radius: 50px;
}